* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.6%;
}

@media (prefers-color-scheme: dark) {
  html {
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98%;
  }
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}
